
@using BsTest.Models
@model IEnumerable<BsTest.Models.Album>
@{
    ViewBag.Title = "Home Page";
}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<script type="text/javascript">
        function HeadBtn_Click(id) {

            $.ajax({
                type: 'GET',
                url: "@Url.Action("Detail", "Home")?id=" + id,
                contentType: 'text/html; charset=utf-8',
                success: function (response) {
                    $('#album-photo').html(response);
                }
            });
    }
     function Comments_Click(id) {

            $.ajax({
                type: 'GET',
                url: "@Url.Action("Comments", "Home")?id=" + id,
                contentType: 'text/html; charset=utf-8',
                success: function (response) {
                    $('#album-photo-comment').html(response);
                }
            });
    }
</script>


<div class="container-fluid">
    <h1><strong>Albums</strong></h1>
    <div class="row">
        <div class="col-md-12">
            <table class=" table-responsive">

                @foreach (Album album in Model)
                {
                    <tr>
                        <td> <input id="@album.Id" type="hidden" value="@album.Id"></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-6"> @album.Id. @album.Title</div>
                                <div class="col-md-6"><input class="btn  btn-default" type="button" value="Visualizar Álbum" onclick="HeadBtn_Click( document.getElementById(@album.Id).value)" /></div>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div id="album-photo">
            </div>
        </div>

        <div class="col-md-4">
            <div id="album-photo-comment">
            </div>
        </div>
    </div>
</div>